<%= stylesheet_link_tag "index_show" %>
<h3>Welcome To Your Jobs Dashboard</h3>

<h2 class="contacts-1">Top Companies By Interest</h2>

<table>
  <td class="job-list-4">Company</td>
  <td class="job-list-6">Interest</td>
  <% @top_companies.each do |company| %>
  <tr id="company_id_<%= company.id %>">
    <td class="job-list"><%= company.name %></td>
    <td class="job-list-3"><%= company.average_interest %></td>
  <% end %>
</table>


  <div class="jobs-by-location">
    <h2>Jobs by Location</h2>
    <ul>
      <% @jobs_by_location.each do |location| %>
      <li><a href="/jobs?location=<%= location.city %>"><%= location.city %> jobs</a> (<%= location.city_count %> jobs)</li>
      <% end %>
    </ul>
  </div>


  <div class="jobs-by-interest">
    <h2>Jobs by Interest</h2>
    <ul>
      <% @jobs_by_interest.each do |interest| %>
      <li><%= interest.level_of_interest %> (<%= interest.interest_count %> jobs)</li>
      <% end %>
    </ul>
  </div>
</section>
