<%= stylesheet_link_tag "index_show" %>
<h3>Welcome To Your Jobs Dashboard</h3>

<!-- <h2 class="contacts-1">Top Companies By Interest</h2> -->

<table width=32% border="1" padding-right: "40px" style="float:left;">
  <th class="job-list-7">Company</th>
  <th class="job-list-8">Interest</th>
  <% @top_companies.each do |company| %>
  <tr id="company_id_<%= company.id %>">
    <td class="job-list"><%= company.name %></td>
    <td class="job-list-3"><%= company.average_interest %></td>
  <% end %>
  </tr>
</table>


<!-- <h2 class="contacts-1">Jobs By Location</h2> -->

<table width=32% border="1" style="float:left;">
  <th class="job-list-7">Location</th>
  <th class="job-list-8">No. Of Jobs</th>
  <% @jobs_by_location.each do |location| %>
  <tr id="location_id_<%= location.id %>">
    <td class="job-list"><a href="/jobs?location=<%= location.city %>"><%= location.city %></a></td>
    <td class="job-list-3"><%= location.city_count %></td>
  <% end %>
  </tr>
</table>

<!-- <h2 class="contacts-1">Jobs By Interest</h2> -->

<table width=32% border="1" style="float:left;">
  <th class="job-list-7">Interest</th>
  <th class="job-list-8">No. Of Jobs</th>
  <% @jobs_by_interest.each do |interest| %>
  <tr id="interest_id_<%= interest.id %>">
    <td class="job-list"><%= interest.level_of_interest %></td>
    <td class="job-list-3"><%= interest.interest_count %></td>
  <% end %>
  </tr>
</table>
