<%= stylesheet_link_tag "index_show" %>
<h2>Job Tracker</h2>

<div class="">
  <h6>Jobs by Interest</h6>
  <ul>
    <% @jobs_by_interest.each do |interest| %>
    <li><%= interest.level_of_interest %> (<%= interest.interest_count %> jobs)</li>
    <% end %>
  </ul>
</div>

<div class="">
  <h6>Top Companies by Interest</h6>
  <ul>
    <% @top_companies.each do |company| %>
    <li><%= company.name %> (Average interest level: <%= company.average_interest %>)</li>
    <% end %>
  </ul>
</div>

<div class="">
  <h6>Jobs by location</h6>
  <ul>
    <% @jobs_by_location.each do |location| %>
    <li><a href="/jobs?location=<%= location.city %>"><%= location.city %> jobs</a> (<%= location.city_count %> jobs)</li>
    <% end %>
  </ul>
</div>
