<%= stylesheet_link_tag "index_show" %>
<header>
  <% if @company %>
      <h3>All <%= @company.name %></strong> Jobs</h3>
  <% else %>
    <h3>All Jobs</h3>
  <% end %>
</header>

<div class="all-jobs-list">
  <% @jobs.each do |job| %>
    <ul>
      <%= link_to job.title, job_path(job) %> at <%= job.company.name %>
      <%= job.level_of_interest %>
      <%= job.city %>
    </ul>
  <% end %>
</div>
