<%= stylesheet_link_tag "index_show" %>
<header>
  <% if @company %>
      <h3>All <%= @company.name %></strong> Jobs</h3>
  <% else %>
    <h3>All Jobs</h3>
  <% end %>
</header>

<div class="all-jobs-list">
  <% @jobs.each do |job| %>
    <ul>
      <a href="/companies/<%= @company.id %>/jobs/<%= job.id %>"><%= job.title %></a> at <%= job.company.name %>
    </ul>
  <% end %>
</div>
