<%= stylesheet_link_tag "index_show" %>
<header>
  <h3>All <%= @company.name %></strong> Jobs</h3>
</header>

<section>
  <% @jobs.each do |job| %>
    <ul>
      <a href="/companies/<%= @company.id %>/jobs/<%= job.id %>"><%= job.title %></a> at <%= job.company.name %>
    </ul>
  <% end %>
</section>
