<%= stylesheet_link_tag "index_show" %>
<table class="job-show-page">
  <td><h3>Job Title: <%= @job.title %></h3></td>
  <td><%= link_to image_tag("edit.png", height: 30, width: 30), edit_job_path(@job) %></td>
  <td><%= link_to image_tag("delete.png", height: 30, width: 30), job_path(@job), method: "delete" %></td>
<table>

<h2 class="contacts-1">Job Details</h2>

<li class="job-list-5">City: <%= @job.city %></li>
<li class="job-list-5">Company: <%= link_to @job.company.name, company_path(@job.company) %></li>
<li class="job-list-5">Description: <%= @job.description %></li>
<li class="job-list-5">Level of Interest: <%= @job.level_of_interest %></li>

<h2 class="contacts-1">Create a New Comment</h2>

<div class="comments">
  <%= form_for [@job, @comment] do |f| %>

    <%= f.label :notes %></br>
    <%= f.text_area :content %></br>

    <%= f.submit %>
  <% end %>
</div>

<h2 class="contacts-1">Existing Comments</h2>

<table>
  <th class="job-list-4">Timestamp</th>
  <th class="job-list-4">Comment</th>
  <% @job.sorted_comments.each do |comment| %>
  <tr id="comment_id_<%= comment.id %>">
    <td class="job-list"><%= comment.created_at %></td>
    <td class="job-list"><%= comment.content %></td>
  </tr>
  <% end %>
</table>
