<%= stylesheet_link_tag "index_show" %>
<h3>Company Name: <%= @company.name %></h3>

<span id="add-job-label" title="Add a New Job"><%= link_to image_tag("new_job.png", height: 35, width: 35), new_company_job_path(@company) %>

<table>
  <th class="job-list-1">Role</th>
  <th class="job-list-1">Company</th>
  <th class="job-list-1">City</th>
  <th class="job-list-2">Interest</th>
  <th class="job-list-2"></th>
  <th class="job-list-2"></th>
  <% @company.jobs.each do |job| %>
    <tr class=job_<%= job.id %>>
      <td class="job-list"><%= link_to job.title, job_path(job) %></td>
      <td class="job-list"><%= link_to job.company.name, company_path(job.company) %></td>
      <td class="job-list"><%= job.city %></td>
      <td class="job-list-3"><%= job.level_of_interest %></td>
      <td class="job-list-3" title="Edit"><%= link_to image_tag("edit.png", height: 15, width: 15), edit_job_path(job.id) %></td>
      <td class="job-list-3" title="Delete"><%= link_to image_tag("delete.png", height: 15, width: 15), job_path(job.id), method: "delete" %></td>
    </tr>
  <% end %>
</table>

<h2 class="contacts-1">Create a New Contact</h2>

<%= form_for [@company, @contact] do |f| %>

  <%= f.label :name %>
  <%= f.text_area :name %>

  <%= f.label :position %>
  <%= f.text_area :position %>

  <%= f.label :email %>
  <%= f.text_area :email %>

  <%= f.submit %>
<% end %>

<h2 class="contacts-1">Existing Contacts</h2>

<table>
  <th class="job-list-4">No.</th>
  <th class="job-list-4">Name</th>
  <th class="job-list-4">Position</th>
  <th class="job-list-4">Email</th>
  <% @company.contacts.each do |contact| %>
  <tr id="contact_id_<%= contact.id %>">
    <td class="job-list"><%= contact.id %></td>
    <td class="job-list"><%= contact.name %></td>
    <td class="job-list"><%= contact.position %></td>
    <td class="job-list"><%= contact.email %></td>
  </tr>
  <% end %>
</table>
