<%= stylesheet_link_tag "index_show" %>
<h3>Company Name: <%= @company.name %></h3>

<h2 class="contacts-1">Create a New Contact:</h2>

<%= form_for [@company, @contact] do |f| %>

<%= f.label :name %>
<%= f.text_area :name %>

<%= f.label :position %>
<%= f.text_area :position %>

<%= f.label :email %>
<%= f.text_area :email %>

<%= f.submit %>
<% end %>

<table>
  <td class="job-list-4">No.</td>
  <td class="job-list-4">Name</td>
  <td class="job-list-4">Position</td>
  <td class="job-list-4">Email</td>
  <h2 class="contacts-1">Existing Contacts:</h2>
  <% @company.contacts.each do |contact| %>
  <tr id="contact_id_<%= contact.id %>">
    <td class="job-list"><%= contact.id %></td>
    <td class="job-list"><%= contact.name %></td>
    <td class="job-list"><%= contact.position %></td>
    <td class="job-list"><%= contact.email %></td>
  </tr>
  <% end %>
</table>
