<%= stylesheet_link_tag "create_edit" %>
<%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <div class="buttons-container">
    <%= f.submit %>
    <a class="buttons-container-1" href="/categories">Cancel</a>
  </div>

<% end %>
