<%= stylesheet_link_tag "index_show" %>
<h3>All Jobs for <%= @category.name %></h3>
<span id="add-job-label" title="Add a New Job"><%= link_to image_tag("new_job.png", height: 35, width: 35), new_company_path %>

<table>
  <% @category.jobs.each do |job| %>
    <tr class=job_<%= job.id %>>
      <td><%= job.title %></td>
      <td><%= link_to job.company.name, company_job_path(job.company) %></td>
      <td><%= job.city %></td>
      <td><%= job.level_of_interest %></td>
      <td title="Edit"><%= link_to image_tag("edit.png", height: 15, width: 15), edit_company_job_path(job.company) %></td>
      <td title="Delete"><%= link_to image_tag("delete.png", height: 15, width: 15), company_job_path(job.company), method: "delete" %></td>
  <% end %>
</table>
