<!DOCTYPE html>
<html>
<head>
  <title>JobTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="main-header">
    <h1><a href="/">Job Tracker</a></h1>
  </header>

  <div class="navbar">
    <a id="home" href="/"></a>
    <nav id="main_nav">
      <a id="home" href="/">Home</a>
      <div class="dropdown">
        <a class="dropbtn">Companies
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content">
          <a href="/companies/new">Create New Company</a>
          <a href="/companies">Show All Companies</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="dropbtn">Jobs
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content">
          <a href="/companies/1/jobs/new">Create New Job</a>
          <a href="/categories">By Category</a>
        </div>
      </div>
      <div class="dropdown">
        <a class="dropbtn">Categories
          <i class="fa fa-caret-down"></i>
        </a>
        <div class="dropdown-content">
          <a href="/categories/new">Create New Category</a>
          <a href="/categories">Show All Categories</a>
        </div>
      </div>
    </nav>
  </div>
  <%= yield %>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
  <% end %>
</body>
</html>
